In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\madhu\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: trio~=0.17 in c:\users\madhu\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\madhu\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\madhu\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\madhu\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\madhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\madhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\madhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\madhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: async-generator>=1.9 in c:\users\madhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\madhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\madhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\madhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\madhu\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\madhu\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\madhu\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\madhu\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [101]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [102]:
driver=webdriver.Chrome(r"C:\Users\madhu\Downloads\chromedriver_win32\chromedriver.exe")

In [103]:
#creating function to accept url
def url():
    url=input("enter the Url for web scraping ")
    return url

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

- link = https://www.naukri.com/browse-jobs

In [5]:
#calling the url function
u1=url()

enter the Url for web scraping https://www.naukri.com/browse-jobs

In [6]:
driver.get(u1)

In [7]:
# search the job and location using path 
search=driver.find_element("xpath","//*[@id='skill']/div[1]/div[2]/input")  #path where we enter job role
location=driver.find_element("xpath","//*[@id='location']/div[1]/div[2]/input") #path where we enter the location

In [8]:
search.send_keys("Data Analyst")  # entering job role
location.send_keys("Bangalore")   # entering city

In [9]:
search.submit()  # submitting will search the results

In [10]:
#empty list for the data scrapping
job_title=[]
company=[]
experience=[]
location=[]

In [11]:
#We will now gather all the tags, extract the text from them, and append it to the appropriate list.
jt=driver.find_elements("xpath","//div[@class='info fleft']/a")  # getting job title tags

In [12]:
#Using a for loop up to index 10 to retrieve the first 10 jobs from the job title tag and extract the text from it
for i in jt[0:10]:  
    job_title.append(i.text)

In [13]:
job_title

['Senior Data Analyst',
 'Data Analyst',
 'Data Analytics and Interpretation Business Analyst',
 'Data Analyst - CRM Platform',
 'Data Analyst - FinTech',
 'Data Analyst - FinTech',
 'Data Analyst',
 'Freelancer - Data Analyst - Contractual Role',
 'Lead Data Analyst (SQL & Python) - US MNC (analytics)',
 'data analyst / data analytics - US MNC (analytics)']

In [14]:
# getting company name tags
cn=driver.find_elements("xpath","//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

In [15]:
#running for loop of company tag to fetch text
for i in cn[0:10]:  
    company.append(i.text)

In [16]:
company

['Latentview',
 'Varite',
 'Accenture',
 'Artech infosystem',
 'Primo Hiring',
 'Primo Hiring',
 'What Digital Technologies Private Limited',
 'WEN',
 'Aspyra HR Services',
 'Aspyra HR Services']

In [17]:
# getting experience tags
exp=driver.find_elements("xpath","//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [18]:
#running for loop in experience tag to fetch text
for i in exp[0:10]:  
       experience.append(i.text)

In [19]:
experience

['3-6 Yrs',
 '2-5 Yrs',
 '6-8 Yrs',
 '1-6 Yrs',
 '1-2 Yrs',
 '1-2 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '2-7 Yrs']

In [20]:
# getting location tags
loc=driver.find_elements("xpath","//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [21]:
#running for loop of location tag to fetch text
for i in loc[0:10]:
    location.append(i.text)

In [22]:
location

['Bangalore/Bengaluru, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Gurgaon/Gurugram']

In [23]:
# making the dataframe
import pandas as pd
jobs=pd.DataFrame({})
jobs['Job Title']=job_title
jobs['Company']=company
jobs['Experience Req.']=experience
jobs['Location']=location
jobs.index += 1

In [24]:
jobs

,Job Title,Company,Experience Req.,Location
1,Senior Data Analyst,Latentview,3-6 Yrs,"Bangalore/Bengaluru, Chennai"
2,Data Analyst,Varite,2-5 Yrs,Bangalore/Bengaluru
3,Data Analytics and Interpretation Business Ana...,Accenture,6-8 Yrs,Bangalore/Bengaluru
4,Data Analyst - CRM Platform,Artech infosystem,1-6 Yrs,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
5,Data Analyst - FinTech,Primo Hiring,1-2 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
6,Data Analyst - FinTech,Primo Hiring,1-2 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
7,Data Analyst,What Digital Technologies Private Limited,4-8 Yrs,Bangalore/Bengaluru
8,Freelancer - Data Analyst - Contractual Role,WEN,3-6 Yrs,Bangalore/Bengaluru
9,Lead Data Analyst (SQL & Python) - US MNC (ana...,Aspyra HR Services,5-10 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram"
10,data analyst / data analytics - US MNC (analyt...,Aspyra HR Services,2-7 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram"

### Q2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data

- link= https://www.naukri.com/browse-jobs

In [25]:
from selenium.common.exceptions import NoSuchElementException

In [26]:
# calling the url function
u2=url()

enter the Url for web scraping https://www.naukri.com/browse-jobs

In [27]:
driver.get(u2)

In [28]:
# search the job and location using path 
search=driver.find_element("xpath","//*[@id='skill']/div[1]/div[2]/input")  #path where we enter job role
location=driver.find_element("xpath","//*[@id='location']/div[1]/div[2]/input") #path where we enter the location

In [29]:
search.send_keys("Data Scientist")  # entering job role
location.send_keys("Bangalore")   # entering city

In [30]:
search.submit()

In [31]:
#First, we create a list that is empty and then we gather the links for the job titles. the necessary information will then be obtained via each link.
job_link=[]

In [32]:
#obtaining the job tags, then obtaining the attribute href, which contains the link to the job title in the tag
for i in driver.find_elements("xpath",'//a[@class="title fw500 ellipsis"]'):
    job_link.append(i.get_attribute('href'))

In [33]:
Job_Title=[]
Company_name=[]
Job_location=[]

In [36]:
#executing loop up to index 10 now since we require information about the first 10 jobs 
for i in job_link[0:10]:
    driver.get(i)
# getting job title    
    j=driver.find_element("xpath","//div[@class='jd-top-head']//h1[1] | //div[@class='jdContainer']//h1[1] | //div[@class='cTitle f16 lh30']//h1[1]")
    Job_Title.append(j.text)
# getting company name     
    k=driver.find_element("xpath","//div[@class='jd-header-comp-name']//a[1] | //p[@class='cpName f14'] | //div[@class='ptb20']/div[2]")
    Company_name.append(k.text)
 # getting location of the job   
    l=driver.find_element("xpath","//span[@class='location '] | //span[@class='fl disc-li']//a[1] |  //div[@class='col-sm-9']//span[1]")
    Job_location.append(l.text)
time.sleep(5)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//div[@class='jd-top-head']//h1[1] | //div[@class='jdContainer']//h1[1] | //div[@class='cTitle f16 lh30']//h1[1]"}
  (Session info: chrome=106.0.5249.91)
Stacktrace:
Backtrace:
	Ordinal0 [0x00FE1ED3+2236115]
	Ordinal0 [0x00F792F1+1807089]
	Ordinal0 [0x00E866FD+812797]
	Ordinal0 [0x00EB55DF+1005023]
	Ordinal0 [0x00EB57CB+1005515]
	Ordinal0 [0x00EE7632+1209906]
	Ordinal0 [0x00ED1AD4+1120980]
	Ordinal0 [0x00EE59E2+1202658]
	Ordinal0 [0x00ED18A6+1120422]
	Ordinal0 [0x00EAA73D+960317]
	Ordinal0 [0x00EAB71F+964383]
	GetHandleVerifier [0x0128E7E2+2743074]
	GetHandleVerifier [0x012808D4+2685972]
	GetHandleVerifier [0x01072BAA+532202]
	GetHandleVerifier [0x01071990+527568]
	Ordinal0 [0x00F8080C+1837068]
	Ordinal0 [0x00F84CD8+1854680]
	Ordinal0 [0x00F84DC5+1854917]
	Ordinal0 [0x00F8ED64+1895780]
	BaseThreadInitThunk [0x75B6FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77147B5E+286]
	RtlGetAppContainerNamedObjectPath [0x77147B2E+238]

In [37]:
#checking the length of the list
print(len(Job_Title))
print(len(Company_name))
print(len(Job_location))

10
10
10

In [38]:
#creating the dataframe
Jobs=pd.DataFrame({})
Jobs['Job_Title']=Job_Title
Jobs['Company_name']=Company_name
Jobs['Job_location']=Job_location
Jobs.index += 1 #starting indexing from 1

In [39]:
#final dataframe
Jobs

,Job_Title,Company_name,Job_location
1,Data Science Specialist,Accenture,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
2,Data Science Manager,Accenture,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
3,"Mongodb Database Administrator, Maria DB or Ca...",Mphasis,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
4,Assistant Manager - Data Science,CitiusTech,"Mumbai, Pune, Bangalore/Bengaluru"
5,Data Scientist,ZS Associates,"New Delhi, Pune, Gurgaon/Gurugram, Bangalore/B..."
6,Data Science Specialist,Accenture,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
7,Data Science Manager,Accenture,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
8,"Mongodb Database Administrator, Maria DB or Ca...",Mphasis,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
9,Assistant Manager - Data Science,CitiusTech,"Mumbai, Pune, Bangalore/Bengaluru"
10,Data Scientist,ZS Associates,"New Delhi, Pune, Gurgaon/Gurugram, Bangalore/B..."

### Q3: In this question you have to scrape data using the filters available on the webpage as The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs and then scrape data for “Data Scientist” designation for first 10 job results.

- link= https://www.naukri.com/browse-jobs

In [40]:
#calling the url function
u3=url()

enter the Url for web scraping https://www.naukri.com/browse-jobs

In [41]:
driver.get(u3)

In [42]:
# search the job and location using path 
search=driver.find_element("xpath","//*[@id='skill']/div[1]/div[2]/input")  #path were we enter job role
location=driver.find_element("xpath","//*[@id='location']/div[1]/div[2]/input") #path were we enter the location

In [43]:
search.send_keys("Data Scientist")  # entering job role need to search

In [44]:
#submit the search results
search.submit()

In [45]:
 #now clicking on the filter having location delhi/ncr
driver.find_element("xpath","//div[@class='filterOptns']/div[2]").click()

In [46]:
# clicking on the filter having salary 3-6 lakhs
driver.find_element("xpath","//div[@data-filter-id='salaryRange']/div[2]").click()

In [47]:
#making the empty list needed to store the extracted data 
job_title=[]
company=[]
location=[]
experience=[]

In [48]:
#collecting all the tags, pulling the data out of them, and append it to the list
for i in driver.find_elements("xpath","//div[@class='info fleft']/a[1]")[0:10]:
    job_title.append(i.text)
for j in driver.find_elements("xpath","//div[@class='mt-7 companyInfo subheading lh16']//a[1]")[0:10]:
    company.append(j.text)
for k in driver.find_elements("xpath","//ul[@class='mt-7']//li[3]")[0:10]:
    location.append(k.text)
for l in driver.find_elements("xpath","//ul[@class='mt-7']//li[1]//span[1]")[0:10]:
    experience.append(l.text)

In [49]:
print(len(job_title))
print(len(company))
print(len(location))
print(len(experience))

10
10
10
10

In [50]:
#creating the dataframe
df_jobs=pd.DataFrame({})
df_jobs['job_title']=job_title
df_jobs['company']=company
df_jobs['location']=location
df_jobs['experience']=experience
df_jobs.index += 1

In [51]:
df_jobs

,job_title,company,location,experience
1,Active openings For Java developer _Immediate ...,NCR Corporation,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",8-12 Yrs
2,Java Back End Developer,Quikr,"Kolkata, Gandhinagar, Indore, Hyderabad/Secund...",1-6 Yrs
3,Java Developer,TATA CONSULTANCY SERVICES (TCS),"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",3-8 Yrs
4,Job Opportunity For Java Developers with Cogni...,Cognizant,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",3-8 Yrs
5,Cognizant Hiring Java Developers -,Cognizant,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",4-9 Yrs
6,Java Developer,TATA CONSULTANCY SERVICES (TCS),"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",3-8 Yrs
7,Node Js Developer,TATA CONSULTANCY SERVICES (TCS),"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",2-7 Yrs
8,Data Science Specialist,Accenture,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",2-4 Yrs
9,HCL Hiring! Java IVR Role,HCL Technologies,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",3-8 Yrs
10,Excellent Opportunity For java developer,Cognizant,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",3-6 Yrs

### Q4. Scrape data of first 100 sunglasses listings on flipkart.com, attributes need to scrape are as follows:

- link-https://www.flipkart.com/

In [52]:
#calling the url function
u6=url()

enter the Url for web scraping https://www.flipkart.com/

In [53]:
#providing driver the link
driver.get(u6)

In [54]:
#getting the search box path by name 
search=driver.find_element("name", "q")

In [55]:
#inputting the information requires searching, and in this case, sunglasses
search.send_keys("Sunglasses")

In [56]:
#submitting the search box
search.submit()

In [57]:
#creating the empty list 
Brand=[]
Description=[]
price=[]

In [58]:
#obtaining all tags and appending them to the first page's list
for m in range(0,3):  
    for i in driver.find_elements("xpath","//div[@class='_2WkVRV']"):
         Brand.append(i.text)
    for j in driver.find_elements("xpath","//div[@class='_2B099V']//a[1]"):
         Description.append(j.text)
    for k in driver.find_elements("xpath","//div[@class='_30jeq3']"):
         price.append(k.text)
    driver.find_element("xpath","//nav[@class='yFHi8N']//a[last()]").click()
    time.sleep(20)

In [59]:
#generating a empty dataframe, then filling it with data from the list.
sunglass=pd.DataFrame({})
sunglass[' Brand']= Brand
sunglass[' Description']= Description
sunglass['price']=price

In [60]:
#displaying the result
sunglass

,Brand,Description,price
0,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649
1,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799
3,NuVew,UV Protection Aviator Sunglasses (57),₹198
4,SHAAH COLLECTIONS,UV Protection Round Sunglasses (54),₹179
...,...,...,...
115,NuVew,UV Protection Sports Sunglasses (73),₹398
116,PIRASO,UV Protection Aviator Sunglasses (54),₹237
117,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹719
118,Ray-Ban,"Mirrored, UV Protection Aviator Sunglasses (58)","₹5,029"
119,NuVew,UV Protection Sports Sunglasses (62),₹345

In [61]:
#using slicing just to get 100 glasses
sunglass=sunglass[0:100]

In [62]:
#final dataframe
sunglass

                Brand                                        Description price
0      ROZZETTA CRAFT              UV Protection Aviator Sunglasses (55)  ₹649
1      ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹449
2            Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹799
3               NuVew              UV Protection Aviator Sunglasses (57)  ₹198
4   SHAAH COLLECTIONS                UV Protection Round Sunglasses (54)  ₹179
..                ...                                                ...   ...
95              NuVew     UV Protection, Mirrored Sports Sunglasses (62)  ₹345
96     kingsunglasses          UV Protection Rectangular Sunglasses (55)  ₹269
97           Fastrack              UV Protection Aviator Sunglasses (57)  ₹637
98      VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹999
99          ROYAL SON  Polarized, UV Protection Retro Square Sunglass...  ₹486

[100 rows x 3 columns]

### Q5.Scrape 100 reviews data from flipkart.com for iphone11 phone

- link= https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=i+phone+11&store=tyy%2F4io&srno=s_1_3&otracker=search&otracker1=search&iid=4335e739-ebb4-43f5-bf2d-928a05a277a6.MOBFWQ6BXGJCEYNY.SEARCH&ssid=v69ljqcs1s0000001664645340664&qH=f2b0d47636762520

In [63]:
#entering the url
u7=url()

enter the Url for web scraping https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=i+phone+11&store=tyy%2F4io&srno=s_1_3&otracker=search&otracker1=search&iid=4335e739-ebb4-43f5-bf2d-928a05a277a6.MOBFWQ6BXGJCEYNY.SEARCH&ssid=v69ljqcs1s0000001664645340664&qH=f2b0d47636762520

In [64]:
#sending the driver a link to the website and going there
driver.get(u7)

In [65]:
#We will first click on all reviews, after which we will scrape data by page
driver.find_element("xpath","//div[@class='_3UAT2v _16PBlm']").click()  #This is xpath of all reviews on which we need  to click

In [66]:
page_link=[]

In [67]:
for i in driver.find_elements("xpath","//nav[@class='yFHi8N']//a"):
    page_link.append(i.get_attribute('href'))

In [68]:
# creating the empty list
Rating=[]
review_summary=[]
Full_review=[]

In [69]:
#obtaining the ratings, review summary, and full review's xpath and adding the data therein to the rating list.
for m in page_link[0:10]:
    for i in driver.find_elements("xpath","//div[@class='_3LWZlK _1BLPMq'] | //div[@class='_3LWZlK _1rdVr6 _1BLPMq']"):
        Rating.append(i.text)
    for j in driver.find_elements("xpath","//p[@class='_2-N8zT']"):
        review_summary.append(j.text)
    for k in driver.find_elements("xpath","//div[@class='t-ZTKy']"):
        Full_review.append(k.text)
    time.sleep(5)

In [70]:
print(len(Rating))
print(len(review_summary))
print(len(Full_review))

100
100
100

In [71]:
#generating a blank dataframe, then loading data from the list into the dataframe
Iphone=pd.DataFrame({})
Iphone[' Rating']=  Rating
Iphone['review_summary']=review_summary
Iphone['Full_review']=Full_review
Iphone.index += 1

In [72]:
#final dataframe
Iphone

,Rating,review_summary,Full_review
1,5,Simply awesome,Really satisfied with the Product I received.....
2,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Best in the market!,Great iPhone very snappy experience as apple k...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
96,5,Highly recommended,What a camera .....just awesome ..you can feel...
97,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
98,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
99,5,Fabulous!,This is my first iOS phone. I am very happy wi...
100,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

### Q6. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
scraping 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount

- link= https://www.flipkart.com/

In [73]:
from selenium.common.exceptions import NoSuchElementException

In [74]:
u8=url()

enter the Url for web scraping https://www.flipkart.com/

In [75]:
driver.get(u8)

In [76]:
#getting the search box path by name 
search=driver.find_element("name","q")

In [77]:
#inputting data requires searching, in this case, sneakers.
search.send_keys("Sneakers")

In [78]:
#submitting search  
search.submit()

In [79]:
# creating shoe link
shoe_link=[]

In [80]:
#obtaining the links to the shoes, each page having 40 shoes, and running a loop over three pages in order to obtain the data for 100 shoes
for i in range(0,3):
    for i in driver.find_elements("xpath","//a[@class='IRpwTa'] | //a[@class='_2WkVRV'] | //a[@class='IRpwTa _2-ICcC']"):
        shoe_link.append(i.get_attribute('href'))
    driver.find_element("xpath","//nav[@class='yFHi8N']//a[last()]").click()
    time.sleep(2)

In [81]:
#lenght of shoe link
len(shoe_link)

120

In [82]:
#creating empty list
Brand=[]
Product_Description=[]
Price=[]

In [83]:
#now running the link of each shoe and gettong the brand,description,discount and price of the each shoe
for i in shoe_link[0:100]:
    driver.get(i)
    Brand.append(driver.find_element("xpath","//h1[@class='yhB1nd']/span[1]").text)
        
    Product_Description.append(driver.find_element("xpath","//h1[@class='yhB1nd']/span[2] | //a[@class='IRpwTa _2-ICcC']").text)
        
    Price.append(driver.find_element("xpath","//div[@class='_25b18c']/div[1]").text)
        
   
    time.sleep(5)

In [87]:
#checking length of the list
print(len(Brand))
print(len(Product_Description))
print(len(Price))

100
100
100

In [88]:
#creating empty dataframe and then storing data that is in list in the dataframe
Sneakers=pd.DataFrame({})
Sneakers['Brand']= Brand
Sneakers['Product_Description']=Product_Description
Sneakers['Price']=Price

In [89]:
# final dataframe
Sneakers.index += 1
Sneakers

           Brand                                Product_Description   Price
1      RapidBox                           Sneakers For Men  (White)    ₹590
2        Labbin   Casual Sneakers White Shoes For Boys And Men S...    ₹499
3        BRUTON   Modern Trendy Shoes Sneakers For Men  (Orange,...    ₹470
4        Labbin                           Sneakers For Men  (White)    ₹499
5        BRUTON   Lightweight Pack Of 1 Trendy Sneakers Sneakers...    ₹259
..           ...                                                ...     ...
96     RED TAPE                   Classic Sneakers For Men  (Black)  ₹1,958
97   HIGHLANDER                           Sneakers For Men  (White)    ₹995
98        AMICO                             Sneakers For Men  (Tan)    ₹549
99         aadi                      Sneakers For Men  (Navy, Blue)    ₹499
100        PUMA             MAPF1 A3ROCAT Sneakers For Men  (White)  ₹7,649

[100 rows x 3 columns]

### Q7. Scrape First 100 shoes data we get in the link- https://www.myntra.com/shoes. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

- link=https://www.myntra.com/shoes

In [104]:
#calling function
u9=url()

enter the Url for web scraping https://www.myntra.com/shoes

In [105]:
driver.get(u9)

In [106]:
#now clicking on the filter having price range Rs 5839 to Rs 11559
driver.find_element("xpath","//ul[@class='price-list']/li[2]").click()

In [107]:
#now clicking on the filter having price range Rs 5839 to Rs 11559
driver.find_element("xpath","//li[@class='colour-listItem']/label[1]").click()

In [108]:
# creating shoe link
shoes_link=[]

In [109]:
#We now have 50 shoes on each page, so will we only run the loop for two pages
for i in range(0,2):
    for j in driver.find_elements("xpath","//li[@class='product-base']//a[1]"):
        shoes_link.append(j.get_attribute('href'))
    driver.find_element("xpath","//li[@class='pagination-next']//a[1]").click()
    time.sleep(2)

In [110]:
#total links 
len(shoes_link)

100

In [111]:
#now making an empty list for the information from the data we require.
Brand=[]
Shoe_description=[]
Price=[]

In [112]:
#now click on each shoe's link to find out its brand, specifications, and price.
for i in shoes_link:
    driver.get(i)
    Brand.append(driver.find_element("xpath","//div[@class='pdp-price-info']/h1[1]").text)
        
    Shoe_description.append(driver.find_element("xpath","//div[@class='pdp-price-info']/h1[2]").text)
    
    Price.append(driver.find_element("xpath","//span[@class='pdp-price']/strong[1]").text)

In [113]:
#checking th lenght of the list 
print(len(Brand))
print(len(Shoe_description))
print(len(Price))

100
100
100

In [114]:
#now creating the dataframe
myntra_shoes=pd.DataFrame({})
myntra_shoes['Brand']=Brand
myntra_shoes['Shoe_description']=Shoe_description
myntra_shoes['Price']=Price
myntra_shoes.index += 1

In [115]:
#output of the dataframe
myntra_shoes

,Brand,Shoe_description,Price
1,UNDER ARMOUR,Men Black Self Checked HOVR Sonic SE Running S...,₹8499
2,UNDER ARMOUR,Men Black Woven Design Charged Escape 3 BL Run...,₹7199
3,UNDER ARMOUR,Unisex Black 3ZER0 IV Basketball Shoes,₹7649
4,Skechers,Men Black GO WALK ARCH FIT - TERRA Walking Shoes,₹8499
5,Puma,Men Black Fuse 2.0 Training Shoes,₹6399
...,...,...,...
96,ALDO,Women Black Solid Regular Boots,Rs. 11999
97,Skechers,Men Black Sports Shoes,Rs. 8499
98,ALDO,Black Textured Block Sandals,Rs. 7999
99,Tommy Hilfiger,Men Black Leather Sneakers,₹6509
100,fitflop,Black Embellished PU Comfort Pumps,Rs. 7499