# Q1. python program to display all the header tags from wikipedia

In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
url = requests.get('https://en.wikipedia.org')

In [4]:
soup = BeautifulSoup(url.text, 'html.parser')

In [5]:
heading = soup.find_all(['h1', 'h2','h3'])

In [6]:
heading1=[]
for i in heading:
    header=i.get_text().replace("\n","").strip()
    heading1.append(header)
heading1

['Main Page',
 'Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 'Personal tools',
 'Namespaces',
 'Views',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'In other projects',
 'Languages']

# Q2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [7]:
url2 = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'

In [8]:
responses = requests.get(url2)

In [9]:
soup=BeautifulSoup(responses.content,'html.parser')

In [10]:
table = soup.find_all('div', class_ = 'lister-item-content')
year = soup.find_all('span', class_='lister-item-year text-muted unbold')

In [11]:
names = []
ratings = []
for i in table:
    name = i.h3.a.get_text().replace('/a',"")
    rating = i.strong.get_text().replace('strong',"")
    names.append(name)
    ratings.append(rating)
    print(name)
    print(rating)
for i in year:
    print(i.get_text().replace('span class="lister-item-year text-muted unbold',""))

The Shawshank Redemption
9.3
The Godfather
9.2
The Dark Knight
9.0
The Lord of the Rings: The Return of the King
9.0
Schindler's List
9.0
The Godfather Part II
9.0
12 Angry Men
9.0
Pulp Fiction
8.9
Inception
8.8
The Lord of the Rings: The Two Towers
8.8
Fight Club
8.8
The Lord of the Rings: The Fellowship of the Ring
8.8
Forrest Gump
8.8
Il buono, il brutto, il cattivo
8.8
The Matrix
8.7
Goodfellas
8.7
The Empire Strikes Back
8.7
One Flew Over the Cuckoo's Nest
8.7
Interstellar
8.6
Cidade de Deus
8.6
Sen to Chihiro no kamikakushi
8.6
Saving Private Ryan
8.6
The Green Mile
8.6
La vita è bella
8.6
Se7en
8.6
Terminator 2: Judgment Day
8.6
The Silence of the Lambs
8.6
Star Wars
8.6
Seppuku
8.6
Shichinin no samurai
8.6
It's a Wonderful Life
8.6
Gisaengchung
8.5
Whiplash
8.5
The Intouchables
8.5
The Prestige
8.5
The Departed
8.5
The Pianist
8.5
Gladiator
8.5
American History X
8.5
The Usual Suspects
8.5
Léon
8.5
The Lion King
8.5
Nuovo Cinema Paradiso
8.5
Hotaru no haka
8.5
Back to the Future
8.5
Apocalypse Now
8.5
Alien
8.5
Once Upon a Time in the West
8.5
Psycho
8.5
Rear Window
8.5
(1994)
(1972)
(2008)
(2003)
(1993)
(1974)
(1957)
(1994)
(2010)
(2002)
(1999)
(2001)
(1994)
(1966)
(1999)
(1990)
(1980)
(1975)
(2014)
(2002)
(2001)
(1998)
(1999)
(1997)
(1995)
(1991)
(1991)
(1977)
(1962)
(1954)
(1946)
(2019)
(2014)
(2011)
(2006)
(2006)
(2002)
(2000)
(1998)
(1995)
(1994)
(1994)
(1988)
(1988)
(1985)
(1979)
(1979)
(1968)
(1960)
(1954)

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame()
df['Movie Name']= names
df['Ratings']= ratings
df['Year of Release'] = year
df.index += 1
df.head()

                                      Movie Name Ratings Year of Release
1                       The Shawshank Redemption     9.3        [(1994)]
2                                  The Godfather     9.2        [(1972)]
3                                The Dark Knight     9.0        [(2008)]
4  The Lord of the Rings: The Return of the King     9.0        [(2003)]
5                               Schindler's List     9.0        [(1993)]

# Q3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [14]:
url3='https://www.imdb.com/india/top-rated-indian-movies/?sort=ir,desc&mode=simple&page=1'

In [15]:
responses = requests.get(url3)

In [16]:
soup=BeautifulSoup(responses.content,'html.parser')

In [17]:
moviename = soup.find_all('td',class_='titleColumn')

In [18]:
names=[]
for i in moviename[:100]:
    name=i.a.get_text()
    names.append(name)
print(names)

['Rocketry: The Nambi Effect', 'Anbe Sivam', 'Jai Bhim', 'Nayakan', 'Golmaal', 'Pariyerum Perumal', '777 Charlie', '3 Idiots', 'Apur Sansar', 'Manichitrathazhu', 'Kumbalangi Nights', 'Black Friday', 'Soorarai Pottru', '#Home', 'C/o Kancharapalem', 'Taare Zameen Par', 'Kireedam', 'Dangal', 'Kaithi', 'Jersey', 'Maya Bazaar', '96', 'Asuran', 'Thevar Magan', 'Visaaranai', 'Sarpatta Parambarai', 'Natsamrat', 'Drishyam 2', 'Thalapathi', 'Pather Panchali', 'Nadodikkattu', 'Sardar Udham', 'Thani Oruvan', 'Vada Chennai', 'Jaane Bhi Do Yaaro', 'Aparajito', 'Sita Ramam', 'Khosla Ka Ghosla!', 'Drishyam', 'Peranbu', 'Ratsasan', 'Anniyan', 'Chupke Chupke', 'Mahanati', 'Agent Sai Srinivasa Athreya', 'Premam', 'Bangalore Days', 'Vikram', 'Satya', 'Super Deluxe', 'Devasuram', 'Gangs of Wasseypur', 'Bhaag Milkha Bhaag', 'Drishyam', 'Aruvi', 'Andhadhun', 'Vikram Vedha', 'Chithram', 'Kannathil Muthamittal', 'Guide', 'Tumbbad', 'Iruvar', 'Sairat', 'Shahid', 'Zindagi Na Milegi Dobara', 'Paan Singh Tomar', 'Chhichhore', 'Mudhalvan', 'Spadikam', 'Dhuruvangal Pathinaaru', 'Pudhu Pettai', 'Swades: We, the People', 'Chak De! India', 'Uri: The Surgical Strike', 'Papanasam', 'Black', 'Mandela', 'Jo Jeeta Wohi Sikandar', 'Pyaasa', 'Munna Bhai M.B.B.S.', 'Soodhu Kavvum', 'Article 15', 'Queen', 'Kaakkaa Muttai', 'Lagaan: Once Upon a Time in India', 'Talvar', 'PK', 'Jigarthanda', 'OMG: Oh My God!', 'Hera Pheri', 'Sarfarosh', 'Theeran Adhigaaram Ondru', 'Udaan', 'Barfi!', 'Sholay', 'Ustad Hotel', 'The Legend of Bhagat Singh', 'Virumandi', 'Baahubali 2: The Conclusion', 'Angoor']

In [19]:
movierating = soup.find_all('td',class_='ratingColumn imdbRating')

In [20]:
ratings=[]
for j in movierating[:100]:
    rating=j.get_text().replace('\n',"")
    ratings.append(rating)
    print(rating)

8.5
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.4
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.3
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.2
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.1
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0
8.0

In [21]:
movieyear = soup.find_all('span',class_='secondaryInfo')

In [22]:
years=[]
for k in movieyear[:100]:
    year=k.get_text()
    years.append(year)
print(years)

['(2022)', '(2003)', '(2021)', '(1987)', '(1979)', '(2018)', '(2022)', '(2009)', '(1959)', '(1993)', '(2019)', '(2004)', '(2020)', '(2021)', '(2018)', '(2007)', '(1989)', '(2016)', '(2019)', '(2019)', '(1957)', '(2018)', '(2019)', '(1992)', '(2015)', '(2021)', '(2016)', '(2021)', '(1991)', '(1955)', '(1987)', '(2021)', '(2015)', '(2018)', '(1983)', '(1956)', '(2022)', '(2006)', '(2013)', '(2018)', '(2018)', '(2005)', '(1975)', '(2018)', '(2019)', '(2015)', '(2014)', '(2022)', '(1998)', '(2019)', '(1993)', '(2012)', '(2013)', '(2015)', '(2016)', '(2018)', '(2017)', '(1988)', '(2002)', '(1965)', '(2018)', '(1997)', '(2016)', '(2012)', '(2011)', '(2012)', '(2019)', '(1999)', '(1995)', '(2016)', '(2006)', '(2004)', '(2007)', '(2019)', '(2015)', '(2005)', '(2021)', '(1992)', '(1957)', '(2003)', '(2013)', '(2019)', '(2013)', '(2014)', '(2001)', '(2015)', '(2014)', '(2014)', '(2012)', '(2000)', '(1999)', '(2017)', '(2010)', '(2012)', '(1975)', '(2012)', '(2002)', '(2004)', '(2017)', '(1982)']

In [23]:
import pandas as pd

In [24]:
df=pd.DataFrame()
df['Movie Name']=names
df['Ratings']=ratings
df['Release Year']=years
df.index += 1
df.head()

                   Movie Name Ratings Release Year
1  Rocketry: The Nambi Effect     8.5       (2022)
2                  Anbe Sivam     8.4       (2003)
3                    Jai Bhim     8.4       (2021)
4                     Nayakan     8.4       (1987)
5                     Golmaal     8.4       (1979)

# Q4. Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)

In [25]:
url4='https://presidentofindia.nic.in/former-presidents.htm'

In [26]:
responses=requests.get(url4)

In [27]:
soup=BeautifulSoup(responses.content,'html.parser')

In [28]:
table=soup.find_all('ul', class_='listing cf')

In [29]:
pname=soup.find_all('div',class_='presidentListing')

In [30]:
names=[]
for i in pname:
    name=i.h3.get_text()
    y=name.split("(")[0]
    names.append(y)
print(names)

['Shri Ram Nath Kovind ', 'Shri Pranab Mukherjee ', 'Smt Pratibha Devisingh Patil ', 'DR. A.P.J. Abdul Kalam ', 'Shri K. R. Narayanan ', 'Dr Shankar Dayal Sharma ', 'Shri R Venkataraman ', 'Giani Zail Singh ', 'Shri Neelam Sanjiva Reddy ', 'Dr. Fakhruddin Ali Ahmed ', 'Shri Varahagiri Venkata Giri ', 'Dr. Zakir Husain ', 'Dr. Sarvepalli Radhakrishnan ', 'Dr. Rajendra Prasad ']

In [31]:
ptenure=soup.find_all('div',class_='presidentListing')

In [32]:
tenures=[]
for j in ptenure:
    tenure=j.p.get_text().replace('Term of Office',"").replace('to',"-").replace(',',"").replace(':',"")
    tenures.append(tenure)
print(tenures)

[' 25 July 2017 - 25 July 2022 ', ' 25 July 2012 - 25 July 2017 ', ' 25 July 2007 - 25 July 2012 ', ' 25 July 2002 - 25 July 2007 ', ' 25 July 1997 - 25 July 2002 ', ' 25 July 1992 - 25 July 1997 ', ' 25 July 1987 - 25 July 1992 ', ' 25 July 1982 - 25 July 1987 ', ' 25 July 1977 - 25 July 1982 ', ' 24 August 1974 - 11 February 1977', ' 3 May 1969 - 20 July 1969 and 24 August 1969 - 24 August 1974', ' 13 May 1967 - 3 May 1969', ' 13 May 1962 - 13 May 1967', ' 26 January 1950 - 13 May 1962']

In [33]:
import pandas as pd

In [34]:
df=pd.DataFrame()
df['NAME']=names
df['TENURE']=tenures
df.index += 1
df.head()

                            NAME                         TENURE
1          Shri Ram Nath Kovind    25 July 2017 - 25 July 2022
2         Shri Pranab Mukherjee    25 July 2012 - 25 July 2017
3  Smt Pratibha Devisingh Patil    25 July 2007 - 25 July 2012
4        DR. A.P.J. Abdul Kalam    25 July 2002 - 25 July 2007
5          Shri K. R. Narayanan    25 July 1997 - 25 July 2002

# Q5. (a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [35]:
url5='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [36]:
responses=requests.get(url5)

In [37]:
soup=BeautifulSoup(responses.content,'html.parser')

In [38]:
matchesODI1 = soup.find('tr',class_='rankings-block__banner').get_text(strip=True,separator=" ")
matchesODI2 = soup.find_all("tr",class_='table-body')
matchesODI1

'1 England ENG 27 3,226 119'

In [39]:
matchesODI=[]
matchesODI.append(matchesODI1)
for i in matchesODI2[:9]:
    odi=i.get_text().replace("\n"," ")
    matchesODI.append(odi)
matchesODI

['1 England ENG 27 3,226 119',
 ' 2   New Zealand NZ  22 2,508 114 ',
 ' 3   India IND  31 3,447 111 ',
 ' 4   Pakistan PAK  22 2,354 107 ',
 ' 5   Australia AUS  29 3,071 106 ',
 ' 6   South Africa SA  21 2,111 101 ',
 ' 7   Bangladesh BAN  30 2,753 92 ',
 ' 8   Sri Lanka SL  29 2,658 92 ',
 ' 9   West Indies WI  41 2,902 71 ',
 ' 10   Afghanistan AFG  18 1,238 69 ']

# (b) Top 10 ODI Batsmen along with the records of their team and rating.

In [40]:
url6='https://www.icc-cricket.com/rankings/mens/player-rankings/odi'

In [41]:
responses=requests.get(url6)

In [42]:
soup=BeautifulSoup(responses.content,'html.parser')

In [43]:
BatsmenODI1=soup.find('div',attrs={"data-cricket-scope":"odi"}).find("div",class_="rankings-block__top-player").get_text(strip=True,separator=" ").replace(' (0)',"").split(" ")
BatsmenODI2=soup.find("div",attrs={"data-cricket-scope":"odi"}).find_all("tr",class_="table-body")

In [44]:
BatsmenODI=[]
BatsmenODI.append(BatsmenODI1)

for k in BatsmenODI2:
    splitlist=k.get_text(strip=True,separator=" ").replace(' (0)',"")
    BatsmenODI.append(splitlist)

In [45]:
print(BatsmenODI)

[['1', 'Babar', 'Azam', 'PAK', '890'], '2 Rassie van der Dussen SA 789', '3 Quinton de Kock SA 784', '4 Imam-ul-Haq PAK 779', '5 Virat Kohli IND 744', '6 Rohit Sharma IND 740', '7 Jonny Bairstow ENG 732', '8 David Warner AUS 725', '9 Ross Taylor NZ 701', '10 This player has moved up in the rankings since the previous rankings update Steve Smith AUS 697']

# (c) Top 10 ODI bowlers along with the records of their team and rating.

In [46]:
url7='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

In [47]:
responses=requests.get(url7)

In [48]:
soup=BeautifulSoup(responses.content,'html.parser')

In [49]:
BowlingODI1 = soup.find('tr',class_='rankings-block__banner').get_text(strip=True,separator=" ").replace(' (0)',"").split(',')[0]
BowlingODI2 = soup.find_all("tr",class_='table-body')

In [50]:
BowlingODI=[]
BowlingODI.append(BowlingODI1)
for j in BowlingODI2[:9]:
    Bowling=j.get_text().replace("\n","").replace("(0)","").strip(" ").split(',')[0]
    BowlingODI.append(Bowling)
BowlingODI

['1 Trent Boult NZ 775 775 v Australia',
 '2                                Josh HazlewoodAUS718                                733 v England',
 '3                                Mujeeb Ur RahmanAFG676                                712 v Ireland',
 '4                                Jasprit BumrahIND662                                841 v West Indies',
 '5                                Shaheen AfridiPAK661                                688 v West Indies',
 '6                                (2)This player has moved up in the rankings since the previous rankings updateMohammad NabiAFG657                                657 v Zimbabwe',
 '7                                (2)This player has moved up in the rankings since the previous rankings updateMehedi HasanBAN655                                725 v Sri Lanka',
 '8                                (2)This player has moved down in the rankings since the previous rankings updateMatt HenryNZ654                                691 v Bangladesh',
 '9                                (2)This player has moved down in the rankings since the previous rankings updateMitchell StarcAUS653                                783 v New Zealand',
 '10                                Rashid KhanAFG651                                806 v Pakistan']

# Q6. (a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [51]:
url8='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

In [52]:
responses=requests.get(url8)

In [53]:
soup=BeautifulSoup(responses.content,'html.parser')

In [54]:
w_matchesODI1 = soup.find('tr',class_='rankings-block__banner').get_text(strip=True,separator=" ")
w_matchesODI2 = soup.find_all("tr",class_='table-body')
w_matchesODI1

'1 Australia AUS 29 4,837 167'

In [55]:
w_matchesODI=[]
w_matchesODI.append(w_matchesODI1)
for i in w_matchesODI2[:9]:
    odi=i.get_text().replace("\n"," ")
    w_matchesODI.append(odi)
w_matchesODI

['1 Australia AUS 29 4,837 167',
 ' 2   South Africa SA  35 4,157 119 ',
 ' 3   England ENG  36 4,205 117 ',
 ' 4   India IND  35 3,732 107 ',
 ' 5   New Zealand NZ  33 3,302 100 ',
 ' 6   West Indies WI  32 2,864 90 ',
 ' 7   Bangladesh BAN  12 930 78 ',
 ' 8   Pakistan PAK  30 1,962 65 ',
 ' 9   Ireland IRE  11 516 47 ',
 ' 10   Sri Lanka SL  11 495 45 ']

# (b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [56]:
url9='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'

In [57]:
responses=requests.get(url9)

In [58]:
soup=BeautifulSoup(responses.content,'html.parser')

In [59]:
batswomenODI1 = soup.find('tr',class_='rankings-block__banner').get_text(strip=True,separator=" ").replace(' (0)',"").split(',')[0]
batswomenODI2 = soup.find_all("tr",class_='table-body')
batswomenODI1

'1 Alyssa Healy AUS 785 785 v England'

In [60]:
batswomenODI=[]
batswomenODI.append(batswomenODI1)
for j in batswomenODI2[:9]:
    batting=j.get_text().replace("\n","").replace("(0)","").strip(" ").split(',')[0]
    batswomenODI.append(batting)
batswomenODI

['1 Alyssa Healy AUS 785 785 v England',
 '2                                Beth MooneyAUS749                                748 v England',
 '3                                Natalie SciverENG740                                755 v South Africa',
 '4                                Laura WolvaardtSA732                                741 v Australia',
 '5                                Meg LanningAUS710                                834 v New Zealand',
 '6                                Rachael HaynesAUS701                                713 v West Indies',
 '7                                (3)This player has moved up in the rankings since the previous rankings updateSmriti MandhanaIND698                                797 v England',
 '8                                (1)This player has moved down in the rankings since the previous rankings updateAmy SatterthwaiteNZ681                                756 v Australia',
 '9                                (4)This player has moved up in the rankings since the previous rankings updateHarmanpreet KaurIND662                                679 v South Africa',
 '10                                (1)This player has moved down in the rankings since the previous rankings updateChamari AthapaththuSL655                                691 v South Africa']

# (c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [61]:
url10='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
responses=requests.get(url10)
soup=BeautifulSoup(responses.content,'html.parser')

In [62]:
women_allround1 = soup.find('tr',class_='rankings-block__banner').get_text(strip=True,separator=" ").replace(' (1)',"").split(',')[0]
women_allround2 = soup.find_all("tr",class_='table-body')
women_allround1

'1 This player has moved up in the rankings since the previous rankings update Ellyse Perry AUS 374 548 v West Indies'

In [63]:
women_allround=[]
women_allround.append(women_allround1)
for i in women_allround2[:9]:
    allround=i.get_text().replace("\n","").replace("(1)","").replace("(2)","").replace("(0)","").strip(" ").split(',')[0]
    women_allround.append(allround)
women_allround

['1 This player has moved up in the rankings since the previous rankings update Ellyse Perry AUS 374 548 v West Indies',
 '2                                This player has moved down in the rankings since the previous rankings updateNatalie SciverENG372                                395 v South Africa',
 '3                                Marizanne KappSA349                                419 v West Indies',
 '4                                Hayley MatthewsWI339                                365 v India',
 '5                                Amelia KerrNZ336                                339 v South Africa',
 '6                                This player has moved up in the rankings since the previous rankings updateDeepti SharmaIND271                                397 v South Africa',
 '7                                This player has moved down in the rankings since the previous rankings updateAshleigh GardnerAUS270                                279 v West Indies',
 '8                                Jess JonassenAUS246                                308 v West Indies',
 '9                                This player has moved up in the rankings since the previous rankings updateJhulan GoswamiIND219                                308 v Australia',
 '10                                This player has moved up in the rankings since the previous rankings updateSophie EcclestoneENG217                                217 v South Africa']

# Q.7 Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

In [64]:
page = requests.get("https://www.cnbc.com/world/?region=world")

In [65]:
page

In [66]:
news = BeautifulSoup(page.content)

i) Headline

In [67]:
headline = []
for i in news.find_all('a', class_="LatestNews-headline"):
    headline.append(i.text)    
headline

['Italy poised for hard-right leader as country votes in snap election',
 '3 rules for a successful open relationship, according to an NYC therapist',
 'Biden administration awards $1.5 billion to fight opioid crisis',
 'Top 10 cities with the best pizzerias worldwide—see where NYC lands on the list',
 'Black Girls in Trader Joe’s creator shares her top five favorite products',
 "Want to raise strong, resilient kids? Create 'nurturing routines,' says parenting expert—here’s how",
 'Why the airline climate change plan is trailing autos and EVs',
 "'Queer Eye's Karamo Brown on the morning routines that keep him motivated",
 'These 7 states have the least air pollution in the U.S.',
 'New York is now No. 1 port in a tipping point for U.S.-bound trade',
 "Analysts have 'high conviction' that these stocks have major upside.",
 'Feared stock market bottom retest is now underway',
 "The No. 1 best city to retire isn't in Florida but the runner up is",
 'The perils and promise of quantum computing are nearing. Here are ways to invest',
 'Everything parents need to know about student loan forgiveness ',
 'Check in, smoke up and tune out: Cannabis-friendly vacation rentals are catching on',
 'Convertibles drive into the sunset as automakers invest in electric vehicles',
 "Britain's lurch toward 'Reaganomics' gets a thumbs down from the markets",
 "Here's our plan for Monday after another painful week to own stocks",
 'What to watch in the markets in the week ahead',
 "Pro Picks: Watch all of Friday's big stock calls on CNBC",
 '13 careers where over 50% of workers are happy with their pay',
 "New York AG wrongly said Yankees game on Apple TV+ costs extra — but it's free",
 'Tech stocks just had the worst two-week stretch since the start of the pandemic',
 "Takeaways from Jim Cramer's interviews with the CEOs of Salesforce and Slack ",
 "Some homebuyers are facing mortgage 'payment shock.' Here are ways to save",
 'Ether is down almost 20% since the merge. Here’s what’s going on',
 'Elon Musk has over 20 direct reports at Tesla — here are the ones we know about',
 'Trump SPAC shares are now around $16 after hitting $97 earlier this year',
 "Here's why U.S. fiscal policy is undermining the Fed's efforts to fight inflation"]

ii) time

In [68]:
time = []
for i in news.find_all('time', class_="LatestNews-timestamp"):
    time.append(i.text)
time

['4 Hours Ago',
 '17 Hours Ago',
 '18 Hours Ago',
 '19 Hours Ago',
 '20 Hours Ago',
 '20 Hours Ago',
 '21 Hours Ago',
 '21 Hours Ago',
 '21 Hours Ago',
 '21 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '22 Hours Ago',
 '23 Hours Ago',
 '23 Hours Ago',
 '23 Hours Ago',
 'September 24, 2022',
 'September 23, 2022',
 'September 23, 2022',
 'September 23, 2022',
 'September 23, 2022',
 'September 23, 2022',
 'September 23, 2022',
 'September 23, 2022',
 'September 23, 2022',
 'September 23, 2022',
 'September 23, 2022',
 'September 23, 2022',
 'September 23, 2022']

iii) news link

In [69]:
news_link = []
for i in news.find_all('a', class_="LatestNews-headline"):
    news_link.append(i.get("href"))    
news_link

['https://www.cnbc.com/2022/09/25/italy-poised-for-hard-right-leader-as-country-votes-in-snap-election.html',
 'https://www.cnbc.com/2022/09/24/three-rules-for-a-successful-open-relationship.html',
 'https://www.cnbc.com/2022/09/24/biden-administration-awards-1point5-billion-to-fight-opioid-crisis.html',
 'https://www.cnbc.com/2022/09/24/top-10-cities-with-the-best-pizzerias-worldwide-.html',
 'https://www.cnbc.com/2022/09/24/easy-meals-for-two-under-20-from-black-girls-in-trader-joes-creator.html',
 'https://www.cnbc.com/2022/09/24/how-to-raise-resilient-kids-by-developing-their-brains-with-nurturing-routines-parenting-expert.html',
 'https://www.cnbc.com/2022/09/24/how-airlines-plan-to-end-one-billion-tons-of-carbon-emissions.html',
 'https://www.cnbc.com/2022/09/24/queer-eyes-karamo-brown-shares-morning-routine.html',
 'https://www.cnbc.com/2022/09/24/vermont-new-mexico-california-us-states-with-least-air-pollution.html',
 'https://www.cnbc.com/2022/09/24/new-york-now-no-1-port-in-us-as-sea-change-in-trade-hits-west-coast.html',
 'https://www.cnbc.com/2022/09/24/analysts-name-top-high-conviction-stocks-for-playing-market-turbulence.html',
 'https://www.cnbc.com/2022/09/24/feared-stock-market-bottom-retest-is-now-underway.html',
 'https://www.cnbc.com/2022/09/24/wallethub-top-10-cities-to-retire-2022-nearly-half-are-in-florida.html',
 'https://www.cnbc.com/2022/09/24/quantum-investing-perils-and-promise-of-quantum-computing-are-nearing.html',
 'https://www.cnbc.com/2022/09/24/what-parent-plus-borrowers-need-to-know-about-student-loan-forgiveness.html',
 'https://www.cnbc.com/2022/09/24/check-in-smoke-up-tune-out-cannabis-friendly-vacation-rentals-catch-on.html',
 'https://www.cnbc.com/2022/09/24/convertible-sales-fall-in-us-amid-popularity-of-evs-suvs.html',
 'https://www.cnbc.com/2022/09/24/liz-truss-britains-lurch-to-reaganomics-gets-thumbs-down-from-markets.html',
 'https://www.cnbc.com/2022/09/23/it-was-another-painful-week-to-own-stocks-but-we-have-a-new-plan-for-monday.html',
 'https://www.cnbc.com/2022/09/23/stocks-could-continue-skittish-trading-until-interest-rate-move-calms-down.html',
 'https://www.cnbc.com/2022/09/23/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html',
 'https://www.cnbc.com/2022/09/23/careers-where-over-50percent-of-workers-are-happy-with-their-pay.html',
 'https://www.cnbc.com/2022/09/23/new-york-ag-wrongly-says-yankees-game-on-apple-tv-costs-extra.html',
 'https://www.cnbc.com/2022/09/23/tech-stocks-worst-two-week-stretch-since-the-start-of-pandemic.html',
 'https://www.cnbc.com/2022/09/23/jim-cramer-sat-down-with-the-ceos-of-salesforce-and-slack-this-week.html',
 'https://www.cnbc.com/2022/09/23/some-homebuyers-are-facing-payment-shock-ways-to-save-on-a-mortgage.html',
 'https://www.cnbc.com/2022/09/23/ether-is-down-almost-20percent-since-the-merge-heres-whats-going-on.html',
 'https://www.cnbc.com/2022/09/23/elon-musk-direct-reports-at-tesla.html',
 'https://www.cnbc.com/2022/09/23/trump-merger-partner-shares-fall-dramatically.html',
 'https://www.cnbc.com/2022/09/23/us-fiscal-policy-is-undermining-the-feds-efforts-to-fight-inflation.html']

# Q.8 Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

In [70]:
page = requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

In [71]:
page

In [72]:
journal = BeautifulSoup(page.content)

i) paper title

In [73]:
paper_title = []
for i in journal.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    paper_title.append(i.text)    
paper_title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

ii) Authors

In [74]:
authors = []
for i in journal.find_all('span', class_="sc-1w3fpd7-0 pgLAT"):
    authors.append(i.text)    
authors

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

iii) Published date

In [75]:
published_date = []
for i in journal.find_all('span', class_="sc-1thf9ly-2 bKddwo"):
    published_date.append(i.text)    
published_date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

iv) Paper URL

In [76]:
paper_url = []
for i in journal.find_all('a', class_="sc-5smygv-0 nrDZj"):
    paper_url.append(i.get('href'))    
paper_url

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

# Q.9 Write a python program to scrape mentioned details from dineout.co.in :

In [77]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
page

In [78]:
dineout = BeautifulSoup(page.content)

i) restaurant Name

In [79]:
restaurant_name = []
for i in dineout.find_all('a', class_="restnt-name ellipsis"):
    restaurant_name.append(i.text)    
restaurant_name

['Castle Barbeque',
 'Jungle Jamboree',
 'Castle Barbeque',
 'Cafe Knosh',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

ii) Cuisine

In [80]:
cuisine = []
for i in dineout.find_all('span', class_="double-line-ellipsis"):
    cuisine.append(i.text)    
cuisine

['₹ 2,000 for 2 (approx) | Chinese, North Indian',
 '₹ 1,680 for 2 (approx) | North Indian, Asian, Italian',
 '₹ 2,000 for 2 (approx) | Chinese, North Indian',
 '₹ 3,000 for 2 (approx) | Italian, Continental',
 '₹ 1,700 for 2 (approx) | North Indian, Chinese',
 '₹ 2,400 for 2 (approx) | North Indian, Italian',
 '₹ 1,800 for 2 (approx) | North Indian',
 '₹ 1,900 for 2 (approx) | North Indian',
 '₹ 2,200 for 2 (approx) | North Indian, Mughlai']

iii) locations

In [81]:
locations = []
for i in dineout.find_all('div', class_="restnt-loc ellipsis"):
    locations.append(i.text)    
locations

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

iv) rating

In [82]:
rating = []
for i in dineout.find_all('div', class_="restnt-rating rating-4"):
    rating.append(i.text)    
rating

['4.1', '3.9', '3.9', '4.3', '4', '3.9', '3.7', '3.8', '4.3']

v) image_url

In [83]:
image_url = []
for i in dineout.find_all('img', class_="no-img"):
    image_url.append(i.get("data-src"))    
image_url

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

# Q.10 Write a python program to scrape the details of top publications from Google Scholar from

In [84]:
page = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')

In [85]:
google_scholar = BeautifulSoup(page.text)

i) rank

In [86]:
rank = []
for i in google_scholar.find_all('td', class_="gsc_mvt_p"):
    rank.append(i.text)    
rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.',
 '31.',
 '32.',
 '33.',
 '34.',
 '35.',
 '36.',
 '37.',
 '38.',
 '39.',
 '40.',
 '41.',
 '42.',
 '43.',
 '44.',
 '45.',
 '46.',
 '47.',
 '48.',
 '49.',
 '50.',
 '51.',
 '52.',
 '53.',
 '54.',
 '55.',
 '56.',
 '57.',
 '58.',
 '59.',
 '60.',
 '61.',
 '62.',
 '63.',
 '64.',
 '65.',
 '66.',
 '67.',
 '68.',
 '69.',
 '70.',
 '71.',
 '72.',
 '73.',
 '74.',
 '75.',
 '76.',
 '77.',
 '78.',
 '79.',
 '80.',
 '81.',
 '82.',
 '83.',
 '84.',
 '85.',
 '86.',
 '87.',
 '88.',
 '89.',
 '90.',
 '91.',
 '92.',
 '93.',
 '94.',
 '95.',
 '96.',
 '97.',
 '98.',
 '99.',
 '100.']

ii) publications

In [87]:
publications = []
for i in google_scholar.find_all('td', class_="gsc_mvt_t"):
    publications.append(i.text)    
publications

['Nature',
 'The New England Journal of Medicine',
 'Science',
 'IEEE/CVF Conference on Computer Vision and Pattern Recognition',
 'The Lancet',
 'Advanced Materials',
 'Nature Communications',
 'Cell',
 'International Conference on Learning Representations',
 'Neural Information Processing Systems',
 'JAMA',
 'Chemical Reviews',
 'Proceedings of the National Academy of Sciences',
 'Angewandte Chemie',
 'Chemical Society Reviews',
 'Journal of the American Chemical Society',
 'IEEE/CVF International Conference on Computer Vision',
 'Nucleic Acids Research',
 'International Conference on Machine Learning',
 'Nature Medicine',
 'Renewable and Sustainable Energy Reviews',
 'Science of The Total Environment',
 'Advanced Energy Materials',
 'Journal of Clinical Oncology',
 'ACS Nano',
 'Journal of Cleaner Production',
 'Advanced Functional Materials',
 'Physical Review Letters',
 'Scientific Reports',
 'The Lancet Oncology',
 'Energy & Environmental Science',
 'IEEE Access',
 'PLoS ONE',
 'Science Advances',
 'Journal of the American College of Cardiology',
 'Applied Catalysis B: Environmental',
 'Nature Genetics',
 'BMJ',
 'Circulation',
 'European Conference on Computer Vision',
 'International Journal of Molecular Sciences',
 'Nature Materials',
 'Chemical engineering journal',
 'AAAI Conference on Artificial Intelligence',
 'Journal of Materials Chemistry A',
 'ACS Applied Materials & Interfaces',
 'Nature Biotechnology',
 'The Lancet Infectious Diseases',
 'Frontiers in Immunology',
 'Applied Energy',
 'Nano Energy',
 'Nature Energy',
 'Meeting of the Association for Computational Linguistics (ACL)',
 'The Astrophysical Journal',
 'Gastroenterology',
 'Nature Methods',
 'IEEE Transactions on Pattern Analysis and Machine Intelligence',
 'Cochrane Database of Systematic Reviews',
 'Blood',
 'Neuron',
 'Nano Letters',
 'Morbidity and Mortality Weekly Report',
 'European Heart Journal',
 'Nature Nanotechnology',
 'ACS Catalysis',
 'Nature Neuroscience',
 'American Economic Review',
 'Journal of High Energy Physics',
 'IEEE Communications Surveys & Tutorials',
 'Annals of Oncology',
 'Nutrients',
 'Accounts of Chemical Research',
 'Immunity',
 'Environmental Science & Technology',
 'Nature Reviews. Molecular Cell Biology',
 'Gut',
 'Physical Review D',
 'ACS Energy Letters',
 'Monthly Notices of the Royal Astronomical Society',
 'Conference on Empirical Methods in Natural Language Processing (EMNLP)',
 'Clinical Infectious Diseases',
 'Cell Metabolism',
 'Nature Reviews Immunology',
 'Joule',
 'Nature Photonics',
 'International Journal of Environmental Research and Public Health',
 'Environmental Pollution',
 'Computers in Human Behavior',
 'Frontiers in Microbiology',
 'Nature Physics',
 'Small',
 'Cell Reports',
 'Molecular Cell',
 'Clinical Cancer Research',
 'Bioresource Technology',
 'Journal of Business Research',
 'Molecular Cancer',
 'Sensors',
 'Nature Climate Change',
 'IEEE Internet of Things Journal']

iii) h5_index

In [88]:
h5_index = []
for i in google_scholar.find_all('a', class_="gs_ibl gsc_mp_anchor"):
    h5_index.append(i.text)    
h5_index

['444',
 '432',
 '401',
 '389',
 '354',
 '312',
 '307',
 '300',
 '286',
 '278',
 '267',
 '265',
 '256',
 '245',
 '244',
 '242',
 '239',
 '238',
 '237',
 '235',
 '227',
 '225',
 '220',
 '213',
 '211',
 '211',
 '210',
 '207',
 '206',
 '202',
 '202',
 '200',
 '198',
 '197',
 '195',
 '192',
 '191',
 '190',
 '189',
 '186',
 '183',
 '181',
 '181',
 '180',
 '178',
 '177',
 '175',
 '173',
 '173',
 '173',
 '172',
 '170',
 '169',
 '167',
 '166',
 '165',
 '165',
 '165',
 '165',
 '164',
 '164',
 '163',
 '163',
 '163',
 '163',
 '162',
 '160',
 '160',
 '159',
 '159',
 '159',
 '159',
 '158',
 '158',
 '155',
 '155',
 '155',
 '155',
 '155',
 '154',
 '153',
 '153',
 '152',
 '152',
 '152',
 '152',
 '152',
 '152',
 '151',
 '151',
 '150',
 '149',
 '149',
 '146',
 '146',
 '145',
 '145',
 '145',
 '144',
 '144']

iv) h5_median

In [89]:
h5_median = []
for i in google_scholar.find_all('span', class_="gs_ibl gsc_mp_anchor"):
    h5_median.append(i.text)
h5_median

['667',
 '780',
 '614',
 '627',
 '635',
 '418',
 '428',
 '505',
 '533',
 '436',
 '425',
 '444',
 '364',
 '332',
 '386',
 '344',
 '415',
 '550',
 '421',
 '389',
 '324',
 '311',
 '300',
 '315',
 '277',
 '273',
 '280',
 '294',
 '274',
 '329',
 '290',
 '303',
 '278',
 '294',
 '276',
 '246',
 '297',
 '307',
 '301',
 '321',
 '253',
 '265',
 '224',
 '296',
 '220',
 '223',
 '315',
 '296',
 '228',
 '217',
 '232',
 '314',
 '304',
 '234',
 '254',
 '296',
 '293',
 '243',
 '229',
 '231',
 '207',
 '302',
 '265',
 '264',
 '220',
 '248',
 '263',
 '220',
 '304',
 '243',
 '214',
 '211',
 '242',
 '214',
 '340',
 '235',
 '217',
 '212',
 '194',
 '249',
 '278',
 '211',
 '292',
 '233',
 '228',
 '225',
 '222',
 '214',
 '225',
 '222',
 '196',
 '205',
 '202',
 '201',
 '190',
 '233',
 '209',
 '201',
 '228',
 '212']